@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  &:before {
    content: "";
    content: "";
    width: 100%;
    height: 100vh;
    //background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    // background: #D3D3D3;
    // background-image: url("../public/bg.jpg");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }
  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
    &:hover {
      width: 60px;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: "Jost-SemiBold";
    src: local("Jost-SemiBold"),
      url(../assets/fonts/Jost/static/Jost-SemiBold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Poppins-SemiBold";
    src: local("Poppins-SemiBold"),
      url(../assets/fonts/Poppins/Poppins-SemiBold.ttf) format("truetype");
  }

  @font-face {
    font-family: "Poppins-Regular";
    src: local("Poppins-Regular"),
      url(../assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype");
  }
  @font-face {
    font-family: "Poppins-Italic";
    src: local("Poppins-Italic"),
      url(../assets/fonts/Poppins/Poppins-Italic.ttf) format("truetype");
  }

  h1 {
    @apply font-jostSemiBold;
    @apply text-2xl;
  }

  h2 {
    @apply font-jostSemiBold;
    @apply text-lg;
  }

  h3 {
    @apply font-poppinsSemiBold;
    @apply text-lg;
  }

  h4 {
    @apply font-poppinsSemiBold;
    @apply text-sm;
    @apply uppercase;
  }

  h5 {
    @apply font-poppins;
    @apply text-base;
    @apply uppercase;
  }

  h6 {
    @apply font-poppins;
    @apply text-sm;
  }

  p {
    @apply font-poppins;
    @apply text-base;
  }

  p.tag {
    @apply font-poppins;
    @apply text-xxs;
    @apply uppercase;
  }

  li {
    @apply text-base;
  }

  a {
    @apply text-sm;
    @apply font-poppinsSemiBold;
    cursor: pointer;
  }
}
